@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
}

::selection {
  color: rgb(208, 214, 224);
  background: rgb(180, 79, 138);
}

.thicc svg {
  stroke-width: 4px !important;
  stroke: var(--primary-400) !important;
}

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --primary-400: 0 0% 98%;
    --primary-500: 240 5% 96%;
    --primary-600: 220 13% 91%;

    --secondary-700: 240 4% 16%;
    --secondary-800: 240 6% 10%;
    --secondary-900: 240 10% 4%;

    --accent-400: 329 86% 70%;
    --accent-500: 330 81% 60%;
    --accent-600: 333 71% 51%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 240 5% 34%;
    --input: 240 5% 34%;

    --muted: 216 34% 17%;
    --muted-foreground: 210 8% 79%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 84% 60%;

    --ring: 240 5% 26%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
